:root {
   --main-color: #ffffff;
   --border-color: #eeeeee;
   --primary-text-color: #212121;
   --title-text-color: #757575;
   --accent-text-color: #2196f3;
   --accent-active: #188ce8;
   --main-font: "Roboto", Arial, sans-serif;
   --leading-lh: 1.14;
   --card-set-gap: 30px;
   --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ul {
   padding: 0;
   margin: 0;
}

body {
   font-family: var(--main-font);
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
   font-style: normal;
}

.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
}

.flex__block {
   display: flex;
   align-items: baseline;
}

.active {
   color: var(--accent-text-color);
   position: relative;
}

/* ========== HEADER ========== */

.header__list {
   display: flex;
}

.header__list.list:first-child {
   padding-right: 0;
}

.header__item {
   margin-right: 50px;
}

.header__item:last-child {
   margin-right: 0;
}

.header {
   padding: 24px 0;
   border-bottom: 1px solid #ececec;
}

.header > .container {
   display: flex;
   align-items: center;
}

.header__menu-nav {
   display: flex;
   align-items: center;
}

.header__logo-text {
   display: inline-block;
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   margin-right: 93px;
   color: var(--primary-text-color);
}

.header__logo-text span {
   color: var(--accent-text-color);
}

.header__contact-list {
   display: flex;
}

.header__link {
   font-weight: 500;
   font-size: 14px;
   line-height: var(--leading-lh);
   letter-spacing: 0.02em;
   color: var(--primary-text-color);
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.header__link:hover,
.header__link:focus {
   color: var(--accent-text-color);
}

.header__contact-list {
   margin-left: auto;
}

.header__contact-link {
   display: flex;
   text-decoration: none;
   align-items: center;
   gap: 10px;
   font-weight: 500;
   font-size: 14px;
   line-height: var(--leading-lh);
   letter-spacing: 0.02em;
   color: var(--title-text-color);
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.header__contact-logo {
   fill: Color;
}

.header__contact-link:hover,
.header__contact-link:focus {
   color: var(--accent-text-color);
}

.header__link.link.active {
   position: relative;
   color: #2196f3;
   padding: 32px 0;
}

.header__link.link.active:after {
   content: "";

   position: absolute;
   left: 0;
   bottom: 0;

   display: block;
   width: 100%;
   height: 4px;
   border-radius: 4px;
   background-color: var(--accent-text-color);
}

/* ========== HERO ========== */

.hero {
   background-color: #2f303a;
   text-align: center;
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   padding: 200px 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../image/background-img.jpg");
}

.hero__title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   width: 696px;
   color: var(--main-color);
   margin: auto;
   margin-bottom: 30px;
}

.hero__btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: var(--main-color);
   background-color: #2196f3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: 0;
   border-radius: 4px;
   width: 216px;
   height: 50px;
   cursor: pointer;
   display: inline-block;
   margin: 0 auto;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
   background-color: var(--accent-active);
   color: #ffffff;
}

/* <--- MODAL ---> */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   transition: opacity 250ms linear, visibility 300ms linear;
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 4px;
   width: 528px;
   min-height: 581px;
   background-color: #fff;
   transform: translate(-50%, -50%) scaleY(1);
   transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) scaleY(0);
}

.close-btn {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.1);
   position: absolute;
   right: 8px;
   top: 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0;
   cursor: pointer;
}

.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

textarea {
   resize: none;
}

.form-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-top: 40px;
   justify-content: center;
}

.modal-form {
   padding: 40px;
}

.form-field {
   position: relative;
   margin-bottom: 28px;
}

.form-label {
   position: absolute;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: var(--title-text-color);
   top: -50%;
   left: 0;
   transform: translateY(20%);
}

.form-input {
   width: 100%;
   padding: 11px;
   padding-left: 42px;
   font: inherit;
   outline: transparent;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.form-input:focus,
.form-area:focus {
   border: 1px solid #2196f3;
}

.form-input:focus ~ .icon-form {
   fill: #2196f3;
}

.icon-form {
   position: absolute;
   top: 50%;
   left: 12px;
   display: inline-block;
   transform: translateY(-50%);
}

.form-comment {
   position: relative;
}

.commentar {
   position: absolute;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
   color: var(--title-text-color);
   top: 0;
   left: 0;
   transform: translateY(-120%);
}

.form-area {
   width: 100%;
   padding: 12px 16px;
   height: 120px;
   outline: transparent;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   font-size: 12px;
   line-height: 1.16;
   letter-spacing: 0.01em;
}

.form-area::placeholder {
   color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
   padding-top: 20px;
}

.label-check {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

.input-checkbox {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.icon-checkbox {
   display: inline-block;
   margin-right: 7px;
   width: 16px;
   height: 15px;
   border-radius: 2px;
   border: 2px solid #212121;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
   cursor: pointer;
}

.policy {
   font-size: 14px;
   line-height: 1.71;
   margin-left: 5px;
   letter-spacing: 0.03em;
   color: var(--accent-text-color);
}

.input-checkbox:checked + .icon-checkbox {
   border-color: #2196f3;
   background-color: #2196f3;
   background-image: url(../image/icon/icon-check.svg);
   background-size: contain;
   background-origin: border-box;
}

.form-btn {
   display: block;
   align-items: center;
   justify-content: center;
   min-width: 200px;
   height: 50px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: #ffffff;
   background-color: var(--accent-text-color);
   border: none;
   border-radius: 4px;
   margin: 30px auto 0;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
   cursor: pointer;
}

.form-btn:hover {
   background-color: var(--accent-active);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ========== ABOUT ========== */

.about {
   padding: 94px 0 94px 0;
}

.about__list {
   display: flex;
   gap: 30px;
   justify-content: center;
}

.about__item {
   flex-basis: calc((100% - 90px) / 4);
}

.about__icon {
   display: flex;
   height: 120px;
   border-radius: 4px;
   align-items: center;
   justify-content: center;
   background-color: #f5f4fa;
   margin-bottom: 30px;
}

.about__item:first-child {
   margin-left: 0;
}

.about__title {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: var(--leading-lh);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
   margin-bottom: 10px;
}

.about__text {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--title-text-color);
}

/* ========== SCILLS WORK ========== */

.skills {
   padding-bottom: 94px;
}

.skills__list {
   display: flex;
   gap: 30px;
}

.skills__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.skills__link {
   position: relative;
}

.skills__link-text {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 70px;
   color: #ffffff;
   font-size: 14px;
   font-weight: 700;
   line-height: var(--leading-lh);
   text-align: center;
   letter-spacing: 0.03em;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   background-color: rgba(47, 48, 58, 0.8);
}

/* ========== TEAM ========== */

.team {
   background-color: #f5f4fa;
   padding-top: 94px;
   padding-bottom: 94px;
}

.team__list {
   display: flex;
   gap: 30px;
}

.team__item {
   width: 270px;
   background-color: var(--main-color);
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
}

.team__skills {
   padding: 30px 0;
}

.team__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.team__name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
}

.team__profession {
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
   margin-top: 10px;
   margin-bottom: 16px;
   /*padding-bottom: 16px;*/
}

.team__social-list {
   display: flex;
   height: 100%;
   gap: 10px;
   justify-content: center;
}

.social__item-link {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   fill: #afb1b8;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.social__item-link:hover,
.social__item-link:focus {
   background-color: var(--accent-text-color);
   fill: var(--main-color);
}

/* ========== REGULAR-CLIENTS ========== */

.clients {
   padding: 94px 0 94px 0;
}

.clients__list {
   display: flex;
   gap: 30px;
   justify-content: center;
   align-items: center;
}

.clients__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.clients__list-item {
   background-color: var(--main-color);
}

.clients__link {
   border: 1px solid #afb1b8;
   display: flex;
   border-radius: 4px;
   width: 170px;
   height: 92px;
   background-color: var(--main-color);
   justify-content: center;
   align-items: center;
   fill: #afb1b8;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
   border-color: var(--accent-text-color);
   fill: var(--accent-text-color);
}

/* ========== FOOTER ========== */

.footer {
   background-color: #2f303a;
   padding-top: 60px;
   padding-bottom: 60px;
}

.footer__logo {
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   text-decoration: none;
   color: var(--main-color);
   display: inline-block;
   padding-bottom: 20px;
}

.footer__logo span {
   color: var(--accent-text-color);
}

/* ========== ADDRESS ========== */

.footer__address-link {
   display: block;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: #ffffff;
   cursor: pointer;
   margin-bottom: 9px;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.footer__address-link:hover,
.footer__address-link:focus {
   color: var(--accent-text-color);
}

.footer__contacts-link {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   cursor: pointer;
   display: block;
   margin-bottom: 9px;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.footer__contacts-link:hover,
.footer__contacts-link:focus {
   color: var(--accent-text-color);
}

/* ========== SUBSCRIBE ========== */

.footer__subscribe {
   margin-left: 70px;
}

.footer__subscribe-title {
   display: block;
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: var(--leading-lh);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--main-color);
}

.footer__subscribe-list {
   display: flex;
   height: 100%;
   gap: 10px;
   justify-content: center;
   align-items: center;
}

.footer__subscribe-link {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: var(--main-color);
   background: rgba(255, 255, 255, 0.1);
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.footer__subscribe-link:hover,
.footer__subscribe-link:focus {
   background-color: var(--accent-text-color);
   fill: var(--main-color);
}
.footer__subscribe-icon {
   fill: Ð¡olor;
}

/* ========== FOOTER EMAIL ========== */

.footer__email {
   margin-left: 93px;
   display: flex;
   flex-wrap: wrap;
}

.footer__email-title {
   display: flex;
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: var(--leading-lh);
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--main-color);
}

.footer__btn-icon {
   display: flex;
   gap: 12px;
}

.footer__email-input {
   padding: 15px 16px;
   width: 358px;
   background-color: inherit;
   outline: transparent;
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   color: var(--main-color);
}

.footer__send-btn {
   gap: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   min-width: 200px;
   height: 50px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
   letter-spacing: 0.06em;
   background-color: var(--accent-text-color);
   border-radius: 4px;
   color: #ffffff;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
   cursor: pointer;
}

.footer__send-btn:hover {
   background-color: var(--accent-active);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__icon-btn {
   fill: var(--main-color);
}

/* ==================== PRODUCTS ==================== */

/* ========== PRODUCTS BUTTONS ========== */

.section__button-filter {
   margin-bottom: 50px;
}

.section__buttons-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 8px;
}

.section__buttons-item:active {
   background-color: var(--accent-text-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section__buttons-btn {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.03em;
   background-color: #f5f4fa;
   border-style: none;
   padding: 6px 25px;
   height: 38px;
   border-radius: 4px;
   cursor: pointer;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: var(--timing-function);
}

.section__buttons-btn:hover,
.section__buttons-btn:focus {
   background-color: var(--accent-text-color);
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
   color: #ffffff;
}

.active__btn {
   background-color: var(--accent-text-color);
   color: #ffffff;
}

/* ========== PRODUCTS SECTION ========== */

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

.section__products-list {
   padding: 0;
   margin: 0;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin-top: calc(-1 * var(--card-set-gap));
   margin-left: calc(-1 * var(--card-set-gap));
}

.section__products-list > .section__products-item {
   flex-basis: calc(100% / 3 - var(--card-set-gap));
   background-color: #ffffff;
   outline: 1px solid #eeeeee;
   margin-top: var(--card-set-gap);
   margin-left: var(--card-set-gap);
}

.section__products-item:hover .section__top-text {
   transform: translateY(0);
}

.section__products-wrap {
   position: relative;
   overflow: hidden;
}

.section__top-text {
   position: absolute;
   top: 0;
   left: 0;
   font-size: 18px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   color: #ffffff;
   background: rgba(33, 150, 243, 0.9);
   padding: 64px 24px;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms var(--timing-function);
}

.section__products-content {
   padding: 20px 24px;
}

.section__products-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: #212121;
}

.section__products-text {
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: #757575;
   margin-top: 4px;
}

.section__box-shadown {
   display: block;
   cursor: pointer;
}

.section__box-shadown:hover,
.section__box-shadown:focus {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
