.mob-menu {
   position: fixed;
   top: 0;
   background-color: #ffffff;
   width: 100vw;
   height: 100vh;
   z-index: 1;
   padding: 48px 40px;
   > .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: auto;
   }
}

.menu-close-btn {
   position: absolute;
   background-color: transparent;
   border: none;
   top: 9px;
   right: 16px;
   display: block;
   margin-left: 0;
}

.mob-menu__nav {}

.mob-menu__list {
   margin-bottom: 50px;
}

.mob-connect {
   margin-bottom: 64px;
}

.mob-connect__tel {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 34px;
   line-height: 1.17;
   letter-spacing: 0.02em;
   color: $title-text-color;

   &:hover,
      &:focus {
         color: $accent-text-color;
      }
}

.mob-connect__link {
   display: block;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 1.17;
   letter-spacing: 0.02em;
   color: $title-text-color;
   padding-top: 32px;

   &:hover,
      &:focus {
         color: $accent-text-color;
      }
}

.mob-menu__item:not(:last-child) {
   margin-bottom: 32px;
}

.mob-menu__link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 40px;
   line-height: 1.17;
   letter-spacing: 0.02em;
   color: #212121;

   &:hover,
      &:focus {
         color: $accent-text-color;
      }
}

.mob__soc-list {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.mob__soc-line::before {
   content: "";
   border: 1px solid rgba(33, 33, 33, .2);
   background-color: rgba(33, 33, 33, .2);
   height: 1px;
   width: 22px;
   margin-right: 10px;
}

.mob__soc-item {}

.mob__soc-link {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.22;

   letter-spacing: 0.02em;
   color: $title-text-color;
   &:hover,
   &:focus {
         color: $accent-text-color;
      }
}