.header__list {
   display: flex;
}

.header__list.list:first-child {
   padding-right: 0;
}

.header__item {
   margin-right: 50px;
   
   &:last-child {
         margin-right: 0;
      }
}

.header {
   padding: 24px 0;
   border-bottom: 1px solid #ececec;
}

.header>.container {
   display: flex;
   align-items: center;
}

.header__menu-nav {
   display: flex;
   align-items: center;
}

.header__logo-text {
   display: inline-block;
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   margin-right: 93px;
   color: $primary-text-color;
}

.header__logo-text span {
   color: $accent-text-color;
}

.header__contact-list {
   display: flex;
}

.header__link {
   font-weight: 500;
   font-size: 14px;
   line-height: $leading-lh;
   letter-spacing: 0.02em;
   color: $primary-text-color;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

      &:hover,
      &:focus {
         color: $accent-text-color;
      }
}

.header__contact-list {
   margin-left: auto;
}

.header__contact-link {
   display: flex;
   text-decoration: none;
   align-items: center;
   gap: 10px;
   font-weight: 500;
   font-size: 14px;
   line-height: $leading-lh;
   letter-spacing: 0.02em;
   color: $title-text-color;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

      &:hover,
      &:focus {
         color: $accent-text-color;
      }
}

.header__contact-logo {
   fill: currentColor;
}

.header__link.link.active {
   position: relative;
   color: #2196f3;
   padding: 32px 0;

   &:after {
         content: "";
   
         position: absolute;
         left: 0;
         bottom: 0;
   
         display: block;
         width: 100%;
         height: 4px;
         border-radius: 4px;
         background-color: $accent-text-color;
      }
}

/* ========== HERO ========== */

.hero {
   background-color: #2f303a;
   text-align: center;
   max-width: 1600px;
   height: 600px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   padding: 200px 0;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../image/background-img.jpg");
}

.hero__title {
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   width: 696px;
   color: $main-color;
   margin: auto;
   margin-bottom: 30px;
}

.hero__btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: $main-color;
   background-color: #2196f3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: 0;
   border-radius: 4px;
   width: 216px;
   height: 50px;
   cursor: pointer;
   display: inline-block;
   margin: 0 auto;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

      &:hover,
      &:focus {
         background-color: $accent-active;
         color: #ffffff;
      }
}