.section {
   padding-top: 60px;
   padding-bottom: 60px;

   @include desktop {
      padding-top: 94px;
      padding-bottom: 94px;
   }
}

.section__products-list {
   padding: 0;
   margin: 0;
   list-style: none;
   gap: 30px;
   display: flex;
   flex-wrap: wrap;

   @include desktop {
      display: flex;
      flex-wrap: wrap;
   }

}

.section__products-list>.section__products-item {
   //flex-basis: calc(100% / 3 - $card-set-gap);
   background-color: #ffffff;
   outline: 1px solid #eeeeee;
   //margin-top: $card-set-gap;

   @include tablet {
      width: calc((100% - 30px)/2);
   }
   @include desktop {
      width: calc((100% - 60px)/3);
   }
}

.section__products-item:hover .section__top-text {
   transform: translateY(0);
}

.section__products-wrap {
   position: relative;
   overflow: hidden;
}

.section__top-text {
   position: absolute;
   top: 0;
   left: 0;
   font-size: 16px;
   line-height: 1.56;
   letter-spacing: 0.03em;
   color: #ffffff;
   background: rgba(33, 150, 243, 0.9);
   padding: 10px 24px;
   height: 100%;
   transform: translateY(100%);
   transition: transform 250ms $timing-function;

   @include mobile {
      padding: 64px 24px;
   }
}

.section__products-content {
   padding: 20px 24px;
}

.section__products-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: #212121;
}

.section__products-text {
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: #757575;
   margin-top: 4px;
}

.section__box-shadown {
   display: block;
   cursor: pointer;

   &:hover,
   &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   }
}