.hero {
   display: flex;
   background-color: #2f303a;
   text-align: center;
   //max-width: 1600px;
   //height: 600px;
   //height: 400px;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   //padding: 200px 0;
   padding: 118px 60px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../image/background-img.jpg");
}

.hero__conteiner {

}

.hero__title {
   font-family: 'Roboto';
   font-weight: 900;
   //font-size: 44px;
   //line-height: 1.36;
   font-size: 26px;
   line-height: 1.62;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   //width: 696px;
   width: 360px;
   color: $main-color;
   margin: auto;
   margin-bottom: 30px;
}

.hero__btn {
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: $main-color;
   background-color: #2196f3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: 0;
   border-radius: 4px;
   //width: 216px;
   //height: 50px;
   width: 200px;
   height: 50px;
   cursor: pointer;
   //display: inline-block;
   margin: 0 auto;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      background-color: $accent-active;
      color: #ffffff;
   }
}