.clients {
   padding: 60px 0 60px 0;
}

.clients__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.clients__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.clients__item {
   background-color: $main-color;
         @include min-mobile {
               width: calc((100% - 30px) / 2);
            }
         @include mobile {
               width: calc((100% - 30px) / 2);
            }

         @include tablet {
            width: calc((100% - 60px) / 3);
         }
      
         @include desktop {
            width: calc((100% - 150px) / 6);
         }
}

.clients__link {
   border: 1px solid #afb1b8;
   display: flex;
   border-radius: 4px;
   height: 92px;
   background-color: $main-color;
   justify-content: center;
   align-items: center;
   fill: #afb1b8;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      border-color: $accent-text-color;
      fill: $accent-text-color;
   }
      @include mobile {
         width: 210px;
      }
         
      @include tablet {
         width: 226px;
      }
      @include desktop {
         width: 170px;
      }
}