.footer {
   background-color: #2f303a;
   margin-left: 0;
   margin-right: 0;
   padding: 60px 15px;
   
   @include tablet {
      padding: 60px 90px;
   }

   @include desktop {
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
      padding: 60px 0;
   }
}

.footer__block {
   display: flex;
   flex-direction: column;
   text-align: center;

   @include desktop {
      flex-direction: row;
      margin: 0 auto;
      justify-content: space-between;
      padding: 0 15px;
   }
}

.footer__top {
   display: block;
   @include tablet {
      display: flex;
      justify-content: space-between;
      margin-bottom: 60px;
   }

   @include desktop {
      margin-bottom: 0;
   }
}

.footer__logo {
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   text-decoration: none;
   color: $main-color;
   display: inline-block;
   //padding-bottom: 20px;
}

.footer__logo span {
   color: $accent-text-color;
}

/* ========== ADDRESS ========== */

.footer__contact {
   display: block;

   @include desktop {
      text-align: left;
   }
}

.footer__address {
   margin-top: 20px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
}

.footer__address-link {
   display: block;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: #ffffff;
   cursor: pointer;
   margin-bottom: 9px;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      color: $accent-text-color;
   }
}

.footer__contacts-link {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
   cursor: pointer;
   display: block;
   margin-bottom: 9px;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      color: $accent-text-color;
   }
}

/* ========== SUBSCRIBE ========== */

.footer__subscribe {
   display: block;
   margin: 60px 0;

   @include tablet {
      margin: 0;
      margin-top: 8px;
   }
   @include desktop {
      margin-left: 70px;
   }
}

.footer__subscribe-title {
   display: block;
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: $leading-lh;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: $main-color;

   @include desktop {
      text-align: left;
   }
}

.footer__subscribe-list {
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;

   //@include desktop {
   //   height: 100%;
   //}
}

.footer__subscribe-link {
   width: 44px;
   height: 44px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   color: $main-color;
   background: rgba(255, 255, 255, 0.1);
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      background-color: $accent-text-color;
      fill: $main-color;
   }
}

.footer__subscribe-icon {
   fill: currentColor;
}

/* ========== FOOTER EMAIL ========== */

.footer__email {
   flex-wrap: wrap;
}

.footer__email-title {
   display: flex;
   font-weight: 700;
   font-size: 14px;
   line-height: $leading-lh;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: $main-color;

   @include desktop {
      text-align: left;
   }
}

.footer__btn-icon {
   display: flex;
   align-items: center;
   flex-direction: column;

   @include desktop {
      flex-direction: row;
      gap: 12px;
   }
}

.footer__email-input {
   padding: 15px 16px;
   width: 450px;
   margin: 20px 0;
   background-color: inherit;
   outline: transparent;
   border-radius: 4px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   color: $main-color;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      border: 1px solid #2196f3;
      outline: none;
   }

   @include desktop {
      width: 358px;
   }
}

.footer__send-btn {
   gap: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   min-width: 200px;
   height: 50px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   text-align: center;
   letter-spacing: 0.06em;
   background-color: $accent-text-color;
   border-radius: 4px;
   color: #ffffff;
   cursor: pointer;

   &:hover {
      background-color: $accent-active;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   }
}

.footer__icon-btn {
   fill: $main-color;
}

.flex__block {
   //display: flex;
   align-items: baseline;

   @include desktop {
      display: flex;
   }
}