.hero {
   display: flex;
   background-color: #2f303a;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 400px;
   background-image: $bg-gradient,
      url("../image/hero-mob-bg.jpg");

   @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
         background-image: $bg-gradient,
               url("../image/hero-mobile-bg-x2.jpg");
      }

   @include tablet {
      background-image: $bg-gradient,
            url("../image/hero-tab-bg.jpg");
            height: 400px;
   @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
         background-image: $bg-gradient,
            url("../image/hero-tab-bg-x2.jpg");
      }
   }

   @include desktop {
      background-image: $bg-gradient,
         url("../image/background-img.jpg");
      height: 600px;
   }
}

.hero__title {
   font-family: 'Roboto';
   font-weight: 900;
   font-size: 16px;
   width: 160px;
   line-height: 1.62;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   color: $main-color;
   margin: auto;
   margin-bottom: 30px;

   @include mobile {
         width: 360px;
         font-size: 26px;
      }

   @include desktop {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
   }
}

.hero__btn {
   font-weight: 700;
   font-size: 13px;
   line-height: 1.88;
   letter-spacing: 0.06em;
   color: $main-color;
   background-color: #2196f3;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: 0;
   border-radius: 4px;
   cursor: pointer;
   width: 180px;
   height: 40px;
   margin: 0 auto;
   transition-property: background-color, fill;
   transition-duration: 250ms;
   transition-timing-function: $timing-function;

   &:hover,
   &:focus {
      background-color: $accent-active;
      color: #ffffff;
   }
   @include mobile {
      font-size: 16px;
      width: 200px;
      height: 50px;
   }

   @include desktop {
      font-size: 16px;
      width: 216px;
   }
}