.skills {
   padding-bottom: 94px;
}

.skills__list {
   display: flex;
   gap: 30px;
}

.skills__title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   color: #212121;
   margin-bottom: 50px;
}

.skills__link {
   position: relative;
}

.skills__link-text {
   position: absolute;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 70px;
   color: #ffffff;
   font-size: 14px;
   font-weight: 700;
   line-height: $leading-lh;
   text-align: center;
   letter-spacing: 0.03em;
   display: flex;
   align-items: center;
   justify-content: center;
   text-transform: uppercase;
   background-color: rgba(47, 48, 58, 0.8);
}