.about {
   padding: 60px 0 60px 0;
}

.about__list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}

.about__item {
   width: 100%;
   width: calc((100% - 30px) / 2);
   
   @include tablet {
      width: calc((100% - 60px) / 2);
   }
   @include tablet {
      width: calc((100% - 90px) / 4);
   }
}

.about__icon {
   display: flex;
   height: 120px;
   border-radius: 4px;
   align-items: center;
   justify-content: center;
   background-color: #f5f4fa;
   margin-bottom: 30px;

   //&:first-child {
   //   margin-left: 0;
   //}
}

.about__title {
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: $leading-lh;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #212121;
   margin-bottom: 10px;
}

.about__text {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: $title-text-color;
   margin-bottom: 30px;
}