p,
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

ul {
   padding: 0;
   margin: 0;
}

body {
   font-family: $main-font;
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
   font-style: normal;
}

.flex__block {
   display: flex;
   align-items: baseline;
}

.active {
   color: $accent-text-color;
   position: relative;
}