.header__logo-text {
   display: inline-block;
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   color: $primary-text-color;
   @include mobile {
      padding: 16px 0;
   }
}

.header__logo-text span {
   color: $accent-text-color;
}